[user]
  name = tyler
  email = tmccown21@gmail.com
[core]
  editor = nvim
  excludesfile = .local_gitignore
	pager = command -v diff-so-fancy >/dev/null 2>&1 && diff-so-fancy | less --tabs=4 -RF || less
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset%  -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[pager]
  branch = false
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
